.sidebar{
  position: fixed
}

.sidebar ul{
  list-style-type: none;
}

.sidebar ul li{
  margin:4rem 0;
}

.sidebar ul li:hover{
  transform: scale(1);
	animation: pulse 1s infinite;
}

.sidebar ul li a img{
  width:40px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
