<div class="sidebar">
  <ul>
    <li><a href="https://soundcloud.com/musicbykavon"><img src="../../assets/social/soundcloudicon.png"/></a></li>
    <li><a href="https://www.instagram.com/musicbykavon/?hl=en"><img src="../../assets/social/insta.png"/></a></li>
    <li><a href="https://music.apple.com/us/album/without-you/1512619325?i=1512619389"><img src="../../assets/social/apple.png"/></a></li>
    <li><a href="https://open.spotify.com/album/79L7F1EoVlmbbx1DRbqxN4?highlight=spotify:track:55MvW3qZbNxoGpBUlXdbIQ"><img src="../../assets/social/spotify.png"/></a></li>
    <li><a href="https://www.youtube.com/channel/UCovfBP5yfbm-BfR-PNGy2MQ"><img src="../../assets/social/youtube.png"/></a></li>
  </ul>
</div>

