.gallery-container{
  display: flex;
  justify-content: space-evenly;
  background: #2c2c2c;

}

.gallery-heading{
  padding-left: 7.2rem;
  padding-top: 3rem;
  background: #2c2c2c;
}

.gallery-heading h2{
  color: #FFF;
  font-family: 'Jost', sans-serif;
}

hr{
  width: 300px;
  display: inline-block;
}

.gallery-container img{
  width:25%;
  margin-top: 5rem;
  opacity: .7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.gallery-container img:hover{
  opacity: 1;
}

.city-streets{
  margin-top: 4rem;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .gallery-container{
    flex-direction: column;
    align-items: center;
  }

  .gallery-container img{
    width:70%;
  }
}
