<div id="contact" class="contact">

  <div class="contact-heading">
      <h2>Contact</h2>
      <hr/>
</div>

<div class="contact-list">
  <ul>

    <li>
      <div>
          <p>
            <fa-icon [icon]="faPhone"></fa-icon>
            <span>Instagram DM @musicbykavon</span>
          </p>
      </div>
    </li>

    <li>
      <div>
          <p>
            <fa-icon [icon]="faMailBulk">
            </fa-icon> <span>Musicbykavon@gmail.com</span>
          </p>
      </div>
    </li>

    <li>
      <div>
          <p>
            <fa-icon [icon]="faLocationArrow"></fa-icon>
            <span>Long Island, NY</span>
          </p>
      </div>
    </li>

  </ul>
</div>

</div>
